/yii
.idea
nbproject
.buildpath
.project
.settings
Thumbs.db
/vendor
composer.phar
.DS_Store
phpunit.phar
/phpunit.xml
###

.gradle
.yardoc
.yardopts
*/bin
build
target
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
vertx_classpath.txt
.springBeans
.vagrant
frontend/lcov.info
